@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* navbar */
  .navbar {
    @apply fixed left-0 right-0 top-0 py-5 px-20 flex justify-between bg-primary-tints-500 es:max-lg:flex-col md:max-lg:px-10 es:max-md:px-5 shrink-0 shadow-md dark:bg-primary-shades-500 es:max-lg:border-none dark:border-b border-primary-tones-400 z-[200];
  }

  .col-1 {
    @apply flex items-center gap-7 es:max-lg:flex-col es:max-lg:items-start;
  }

  .logo {
    @apply w-16 h-8;
  }

  .menu {
    @apply flex gap-3 es:max-lg:flex-col es:max-lg:self-center es:max-lg:w-[100%] es:max-lg:mb-2;
  }

  .btn {
    @apply flex py-2 px-3 text-primary-shades-200 cursor-pointer text-sm
   hover:bg-primary-default hover:text-primary-shades-500 hover:rounded hover:font-medium es:max-lg:justify-center dark:text-primary-tints-300 hover:dark:text-primary-shades-500;
  }

  .col-2 {
    @apply flex gap-3 es:max-lg:flex-col es:max-lg:mt-2;
  }

  .dropdown-menu {
    @apply absolute right-[130px] top-[75px] z-10 bg-white rounded-lg shadow-md py-4 px-1 border es:max-lg:absolute es:max-lg:z-0 es:max-lg:right-0 es:max-lg:left-0 es:max-lg:top-[311px] es:max-lg:rounded-none es:max-lg:border-none es:max-lg:bg-primary-tints-500 es:max-lg:px-5 dark:bg-primary-shades-400 dark:border-primary-tints-400 es:max-lg:dark:bg-primary-shades-500 es:max-lg:py-0;
  }

  .dropdown-menu-list {
    @apply flex gap-2 px-4 py-2 hover:bg-primary-tints-400 hover:rounded es:max-lg:justify-center
    es:max-lg:hover:bg-primary-default dark:text-primary-tints-500 hover:dark:text-primary-shades-500 es:max-lg:dark:text-primary-tints-500 es:max-lg:mt-0;
  }

  /* HomePage Hero */
  .hero {
    @apply grid grid-cols-2 gap-4 pt-14 pb-4 px-20 es:max-lg:grid-cols-1 es:max-lg:py-3 es:max-lg:px-10;
  }

  .imageHero {
    @apply w-9/12 ratio-1x1 es:max-lg:hidden;
  }

  .heroRight {
    @apply mt-[15px] py-4;
  }

  .subTitleHero {
    @apply text-xl text-primary-shades-400 capitalize es:max-lg:text-sm dark:text-primary-tints-400;
  }

  .titleHero {
    @apply text-5xl mt-[10px] text-primary-shades-300 capitalize font-bold es:max-lg:mt-[3px] es:max-lg:text-3xl dark:text-primary-tones-200;
  }

  .buttonHero {
    @apply cursor-pointer mt-10 inline-block py-[9px] px-6 bg-primary-default rounded text-base font-medium text-primary-shades-500 shadow-md capitalize shadow-primary-default hover:bg-gradient-to-r from-primary-default to-secondary hover:font-semibold hover:transition delay-200 duration-300 focus:outline-none focus:ring focus:ring-secondary es:max-lg:text-sm es:max-lg:mt-8 es:max-lg:py-[8px] es:max-lg:px-6;
  }

  .projectCount {
    @apply mt-20 flex gap-10 es:max-lg:mt-16;
  }

  .project,
  .client {
    @apply text-center;
  }

  .project p,
  .client p {
    @apply text-[20px] font-bold text-primary-shades-500 es:max-lg:text-[18px] dark:text-primary-tints-500;
  }

  .project span,
  .client span {
    @apply text-xs font-thin text-primary-shades-500 dark:text-primary-tints-500;
  }

  /* HomePage About */
  .about {
    @apply py-14 px-20 es:max-lg:py-3 es:max-lg:px-10;
  }

  .about-title {
    @apply text-4xl text-primary-shades-400 font-bold mb-11 es:max-lg:text-3xl dark:text-primary-tints-400;
  }

  .about-content-profile {
    @apply flex gap-10 justify-center mb-[40px] es:max-lg:flex-col;
  }

  .about-content-profile img {
    @apply w-1/4 ratio-1x1 es:max-lg:self-center;
  }

  /* tabs */
  .tabs {
    @apply flex flex-col w-2/3 es:max-lg:w-[100%];
  }

  .tab-list {
    @apply flex mt-4 p-0 gap-2.5;
  }

  .tab-list-item {
    @apply list-none mr-[10px] text-primary-tones-500 dark:text-primary-tints-500;
  }

  .tab-list-item.active {
    @apply border-b-2 border-primary-tones-200 text-primary-shades-500 dark:text-primary-tints-200;
  }

  .tab-button {
    @apply py-[5px] px-[7px] font-medium border-none cursor-pointer;
  }

  .tab-content {
    @apply mt-[10px] overflow-y-scroll h-56 scroll-smooth es:max-lg:overscroll-contain scrollbar-thin scrollbar-thumb-primary-shades-300 scrollbar-track-primary-tones-200 scrollbar-thumb-rounded-full scrollbar-track-rounded-full;
  }

  /* tab Education */
  .group-education {
    @apply mb-5;
  }

  .group-education-insitusi {
    @apply text-base font-semibold text-primary-shades-400 dark:text-primary-tints-200;
  }

  .group-education-tahun {
    @apply text-xs font-thin text-primary-shades-300 dark:text-primary-tints-400;
  }

  .group-education-kejuruan {
    @apply text-sm font-light text-primary-shades-500 dark:text-primary-tints-500;
  }

  /* What I Do */
  .about-content-work-title {
    @apply font-sans text-[28px] mb-[30px] font-semibold text-center text-primary-shades-500 es:max-lg:text-[26px] dark:text-primary-tints-300;
  }

  .about-content-work-group_card {
    @apply font-sans flex justify-around es:max-lg:flex-col es:max-lg:gap-6;
  }

  .about-content-work-group_card-card {
    @apply w-80 text-center border rounded border-primary-tints-300 py-7 px-6 es:max-lg:self-center;
  }

  /* Portofolio */
  .portofolio {
    @apply py-14 px-20 es:max-lg:py-3 es:max-lg:px-10;
  }

  .portofolio-title {
    @apply text-4xl text-primary-shades-400 font-bold mb-1 es:max-lg:text-3xl dark:text-primary-tints-400;
  }

  .portofolio-subtitle {
    @apply text-base text-primary-shades-400 capitalize mb-11 es:max-lg:text-sm dark:text-primary-tints-400;
  }

  /* card portofolio */
  .portofolio-container {
    @apply flex flex-col mb-[40px];
  }

  .portofolio-container-card {
    @apply relative bg-primary-tints-100 rounded w-full h-full mb-10 dark:border border-primary-tones-500 es:max-lg:relative;
  }

  .portofolio-container-card-image {
    @apply w-4/5 mx-auto;
  }

  .portofolio-container-card-desc {
    @apply absolute font-sans py-10 px-[120px] bottom-0 right-0 left-0 bg-gradient-to-r from-primary-shades-500  es:max-lg:px-[40px] es:max-md:py-5;
  }

  .portofolio-container-card-desc-title {
    @apply text-primary-tints-500 font-semibold text-2xl mb-[10px] es:max-md:text-base;
  }

  .portofolio-container-card-desc-Subtitle {
    @apply text-primary-tints-500 mb-[30px] text-xs w-3/5 es:max-md:hidden;
  }

  .portofolio-container-card-desc-link {
    @apply text-primary-tints-200 text-sm hover:underline es:max-md:text-[10px];
  }

  .portofolio-continue {
    @apply text-primary-shades-500 text-xs hover:underline hover:text-primary-shades-200 text-right dark:text-primary-tints-300;
  }

  /* testimoni */

  .testimoni-title {
    @apply font-sans text-[28px] mb-[30px] font-semibold text-center text-primary-shades-500 es:max-lg:text-[26px] dark:text-primary-tints-300;
  }

  .testimoni-container-card {
    @apply flex flex-row h-[370px] es:max-lg:h-full;
  }

  .testimoni-card {
    @apply flex gap-6 es:max-lg:flex-col es:max-lg:text-center;
  }

  .testimoni-image {
    @apply w-[310px] h-[310px] rounded object-cover es:max-lg:self-center es:max-lg:w-1/2 es:max-lg:h-auto;
  }

  .testimoni-container-desc {
    @apply self-center;
  }

  .testimoni-title-desc {
    @apply text-primary-shades-500 font-semibold text-[21px]  dark:text-primary-tints-400 mb-[2px];
  }

  .testimoni-subtitle-desc {
    @apply text-base font-normal mb-[20px] dark:text-primary-tints-400 es:max-lg:mb-[15px];
  }

  .testimoni-desc {
    @apply text-primary-shades-400 font-light text-base dark:text-primary-tints-500;
  }

  /* Contact Me */
  .contact {
    @apply py-14 px-20 es:max-lg:py-3 es:max-lg:px-10;
  }

  .contact-title {
    @apply text-4xl text-primary-shades-400 font-bold mb-[40px] es:max-lg:text-3xl dark:text-primary-tints-400;
  }

  .contact-subTitle {
    @apply text-base text-primary-shades-400 capitalize mb-[10px] es:max-lg:text-sm dark:text-primary-tints-400;
  }

  .contact-container {
    @apply flex w-full justify-between content-center es:max-lg:flex-col;
  }

  .contact-container-form {
    @apply w-3/4 px-4 es:max-lg:w-full;
  }

  .group-input {
    @apply mb-[30px] flex flex-col;
  }

  .group-input-label {
    @apply mb-[10px] text-primary-shades-500 font-semibold dark:text-primary-tints-500;
  }

  .group-input-text {
    @apply text-base rounded py-1.5 pl-3
    border border-primary-tones-400 placeholder-primary-shades-100
    text-primary-shades-400 
    font-light 
    focus:border-primary-shades-200
    focus:outline-none 
    dark:border-primary-tones-100
    dark:bg-primary-tints-500
    dark:placeholder-primary-shades-100
    dark:focus:border-primary-tints-200
    dark:focus:outline-none;
  }

  .btn-submit {
    @apply flex flex-row gap-2 border border-primary-default bg-primary-shades-100 rounded py-2 px-10 text-primary-shades-500 hover:bg-primary-tints-100
    hover:text-primary-shades-500 hover:outline-none
    dark:text-primary-shades-500 dark:hover:text-primary-shades-300 focus:outline-none es:max-md:w-full es:max-lg:justify-center;
  }

  .contact-container-ilustration {
    @apply w-2/3 self-center justify-self-end es:max-lg:hidden;
  }
}
